/*! General Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

:root {
    --main-color: rgba(255, 207, 122, 1);
    --text-color-white: #fff;
    --dark-color: #000;
    --color-grey: #6D6D6D;
    --color-text-ora: #daad54;
}

body {
    background: #1d1d1d url('https://github.com/Sada-Shukurova/Elit-Fire/blob/master/assets/images/bg.jpg?raw=true');
    background-size: contain;
}

/*! Fire */

.section-fire {
    padding: 7.6rem 12.3rem;
    display: flex;
    flex-direction: column;
    gap: 8.1rem;
}

.section-fire header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-fire header .header-container .header-logo-text {
    display: flex;
    align-items: center;
    gap: 3.9rem;
}

.section-fire header .header-container .header-logo-text .header-text {
    color: var(--color-grey);
    font-family: Lab Grotesque;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.6px;
    width: 9.9rem;
    height: 3.6rem;
}

.section-fire header .header-container .header-navbar {
    display: flex;
    align-items: center;
    gap: 6.1rem;
}

.section-fire header .header-container .header-navbar-a {
    display: flex;
    align-items: center;
    gap: 3.6rem;
}

.section-fire header .header-container .header-navbar-a a {
    color: #949494;
    text-align: right;
    font-family: Lab Grotesque;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    transition: all 0.126s ease-in;
}

.section-fire header .header-container .header-navbar .header-navbar-a a:hover {
    color: #FFCF7A;
}

.section-fire header .header-container .header-navbar .header-tel a {
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #ECCF94;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.126s ease-in;
}

.section-fire header .header-container .header-navbar .header-tel a:hover {
    background-color: var(--color-text-ora);
}

.section-fire header .header-container .header-navbar .header-tel a i {
    font-size: 1.6rem;
    color: #000;
}

.section-fire main .hearth-container {
    display: flex;

}

.section-fire main .hearth-container .heart-left {
    display: flex;
    flex-direction: column;
    gap: 8.6rem;
}

.section-fire main .hearth-container .heart-left .hearth-left-head {
    display: flex;
    flex-direction: column;
    gap: 2.9rem;
}

.section-fire main .hearth-container .heart-left .hearth-left-head h1 {
    font-family: Lab Grotesque;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 250;
    line-height: 80px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: var(--text-color-white);
    width: 52rem;
    height: 16.1rem;
}

.section-fire main .hearth-container .heart-left .hearth-left-head .money {
    color: #FFCF7A;
    font-family: Lab Grotesque;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 1.8px;
}

.section-fire main .hearth-container .heart-left .hearth-left-head .money span {
    font-size: 1.8rem;
    margin-right: 1rem;
}

.section-fire main .hearth-container .heart-left .hearth-left-bottom {
    display: flex;
    align-items: center;
    gap: 8rem;
}

.section-fire main .hearth-container .heart-left .hearth-left-bottom .hearth-icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}

.section-fire main .hearth-container .heart-left .hearth-left-bottom .hearth-icon-text i {
    color: var(--text-color-white);
    font-size: 3rem;
}

.section-fire main .hearth-container .heart-left .hearth-left-bottom .hearth-icon-text p {
    color: var(--text-color-white);
    font-size: 1.4rem;
}

.section-fire main .hearth-container .hearth-right .hearth-image::after {
    content: '';
    width: 35rem;
    height: 20rem;
    position: absolute;
    border-radius: 50%;
    top: 40%;
    right: 23%;
    background: var(--main-color);
    filter: blur(159px);
}

.section-fire main .hearth-container .hearth-right .hearth-image img {
    width: 100%;
    margin-top: 0;
    position: relative;
    z-index: 2;
}

/*! Hot */

.hot {
    padding: 5rem 9.5rem;
}

.hot .hot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
}

.hot .hot-container .hot-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.1rem;
}

.hot .hot-container .hot-top h1 {
    text-align: center;
    font-family: Lab Grotesque;
    font-size: 4rem;
    font-style: normal;
    font-weight: 250;
    line-height: 60px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    background: linear-gradient(183deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hot .hot-container .hot-top p {
    color: var(--text-color-white);
    text-align: center;
    font-family: Lab Grotesque;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 3.3rem; /* 165% */
    letter-spacing: 0.6px;
}

.hot .hot-container .hot-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.hot .hot-container .hot-center .hot-icons {
    display: flex;
    align-items: center;
    gap: 14rem;
}

.hot .hot-container .hot-center .hot-icons .hot-icon {
    display: flex;
    align-items: center;
    gap: 2.9rem;
}

.hot .hot-container .hot-center .hot-icons .hot-icon i {
    font-size: 3.6rem;
    color: var(--text-color-white);
}

.hot .hot-container .hot-center .hot-icons .hot-icon p {
    color: #FFF;
    font-family: Lab Grotesque;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.hot .hot-container .hot-center .hot-image {
    width: 100%;
    margin-top: 0;
    position: relative;
    z-index: 2;
} 
.hot .hot-container .hot-center .hot-image::after {
    content: '';
    width: 45rem;
    height: 20rem;
    position: absolute;
    border-radius: 50%;
    top: 40%;
    right: 23%;
    background: var(--main-color);
    filter: blur(159px);
}

/*! Battery */

.battery {
    padding: 1rem 12.3rem;
}

.battery .battery-container {
    display: flex;
    align-items: center;
}

/*? Battery Left */

.battery .battery-container .battery-left {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.battery .battery-container .battery-left h2 {
    font-family: Lab Grotesque;
    font-size: 4rem;
    font-style: normal;
    font-weight: 250;
    line-height: 55px; /* 137.5% */
    letter-spacing: 2.8px;
    text-transform: uppercase;
    background: linear-gradient(185deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.battery .battery-container .battery-left .battery-text {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

.battery .battery-container .battery-left .battery-text p {
    width: 37rem;
    color: var(--text-color-white);
    font-family: Lab Grotesque;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 33px;
}

/*? Battery Right */

/*? Battery Image */

.battery .battery-container .battery-right .battery-image {
    position: relative;
}

/*? Battery Content */

.battery .battery-container .battery-right .battery-image .battery-content {
    position: absolute;
    top: 66%;
    left: 16%;
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
}

.battery .battery-container .battery-right .battery-image .battery-content .battery-icons-line {
    display: flex;
    align-items: center;
    gap: 1.9rem;
}

.battery .battery-container .battery-right .battery-image .battery-content .battery-icons-line i {
    font-size: 2rem;
    color: var(--color-text-ora);
    cursor: pointer;
}

.battery .battery-container .battery-right .battery-image .battery-content .battery-icons-line i:hover {
    color: #FFCF7A;
}

.battery .battery-container .battery-right .battery-image .battery-content .battery-icons-line .battery-line {
    width: 3.1rem;
    height: 0.1rem;
    background-color: var(--color-text-ora);
}

.battery .battery-container .battery-right .battery-image .battery-content .battery-text-parag {
    width: 18.6rem;
}

.battery .battery-container .battery-right .battery-image .battery-content .battery-text-parag p {
    color: var(--text-color-white);
    font-family: Lab Grotesque;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/*? Battery-Circle */

.battery .battery-container .battery-right .battery-circle {
    position: absolute;
    top: 30%;
    left: 63%;
    width: 12rem;
    height: 12rem;
    background-color: var(--color-text-ora);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    border-radius: 50%;
    z-index: 3;
}

.battery .battery-container .battery-right .battery-circle::after {
    content: '';
    width: 14rem;
    height: 10rem;
    position: absolute;
    border-radius: 50%;
    top: 30%;
    right: 18%;
    background: var(--main-color);
    filter: blur(69px);
}

.battery .battery-container .battery-right .battery-circle .number {
    color: var(--dark-color);
    text-align: center;
    font-family: Scania Sans CY;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.battery .battery-container .battery-right .battery-circle .minute {
    font-size: 1.5rem;
    color: var(--dark-color);
    font-weight: 700;
}

.battery .battery-container .battery-right .battery-circle .text-small {
    color: var(--dark-color);
    text-align: center;
    font-family: Scania Sans CY;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

/*! Kamin */

.kamin {
    padding: 3rem 8.7rem;
}

.kamin .kamin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.35rem;
}

.kamin .kamin-container .kamin-top-container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.kamin .kamin-container .kamin-top-container h2 {
    text-align: center;
    font-family: Lab Grotesque;
    font-size: 4rem;
    font-style: normal;
    font-weight: 250;
    line-height: 55px; /* 137.5% */
    letter-spacing: 2.8px;
    text-transform: uppercase;
    background: linear-gradient(181deg, var(--text-color-white) 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.kamin .kamin-container .kamin-top-container .kamin-line {
    width: 4.8rem;
    height: 0.1rem;
    background: #949494;
}

.kamin .kamin-container .kamin-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.kamin .kamin-container .kamin-image .kamin-image-text {
    width: 64.4rem;
    color: #FFF;
    text-align: center;
    font-family: Lab Grotesque;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 33px;
    margin-bottom: 2.5rem;
    position: absolute;
    top: 2.5rem;
}

/*! Bonfire */

.bonfire {
    padding: 3rem 12.3rem;
    display: flex;
    flex-direction: column;
    gap: 10.6rem;
}

.bonfire .bonfire-container {
    display: flex;
    gap: 8.4rem;
}

.bonfire .bonfire-container .bonfire-left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-1 h2 {
    color: #FFF;
    font-family: Lab Grotesque;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-2 {
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-2 .bonfire-text {
    color: #FFF;
    font-family: Lab Grotesque;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-2 .bonfire-line {
    width: 90%;
    height: 0.1rem;
    background: rgba(255, 207, 122, 0.72);
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-3 {
    display: flex;
    align-items: center;
    gap: 9.4rem;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-3 .bonfire-line-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-3 .bonfire-line-left .bonfire-top h3 {
    color: #757575;
    font-family: Lab Grotesque;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-3 .bonfire-line-left .bonfire-center {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-3 .bonfire-line-left .bonfire-center p {
    color: #FFF;
    font-family: Lab Grotesque;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-3 .bonfire-line-right {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 1.5rem;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-3 .bonfire-line-right p {
    color: #FFF;
    font-family: Lab Grotesque;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 192.857% */
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-4 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-4 .bonfire-top h3 {
    color: #757575;
    font-family: Lab Grotesque;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-4 .bonfire-center {
    display: flex;
    gap: 9.4rem;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-4 .bonfire-center .bonfire-center-left {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-4 .bonfire-center .bonfire-center-left p {
    color: #FFF;
    font-family: Lab Grotesque;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-5 {
    display: flex;
    flex-direction: column;
    gap: 3.7rem;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-5 .top-bonfire {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-5 .top-bonfire h2 {
    color: #FFF;
    font-family: Lab Grotesque;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-5 .top-bonfire p {
    color: #FFF;
    font-family: Lab Grotesque;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-5 .bonfire-image {
    width: 53.7rem;
    height: 34.6rem;
}

.bonfire .bonfire-container .bonfire-left .bonfire-line-5 .bonfire-image img {
    width: 100%;
}

.bonfire .bonfire-container .bonfire-right {
    display: flex;
    flex-direction: column;
    gap: 11.3rem;
}

.bonfire .bonfire-container .bonfire-right .bonfire-line-1 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.bonfire .bonfire-container .bonfire-right .bonfire-line-1 .bonfire-image {
    width: 53.7rem;
    height: 34.6rem;
}

.bonfire .bonfire-container .bonfire-right .bonfire-line-1 .bonfire-image img {
    width: 100%;
}

.bonfire .bonfire-container .bonfire-right .bonfire-line-1 .bonfire-top {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.bonfire .bonfire-container .bonfire-right .bonfire-line-1 .bonfire-top h2 {
    color: #FFF;
    font-family: Lab Grotesque;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    width: 26.32rem;
}

.bonfire .bonfire-container .bonfire-right .bonfire-line-1 .bonfire-top p {
    color: #FFF;
    font-family: Lab Grotesque;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.bonfire .bonfire-container .bonfire-right .bonfire-line-2 {
    display: flex;
    flex-direction: column;
    gap: 3.7rem;
}

.bonfire .bonfire-container .bonfire-right .bonfire-line-2 .bonfire-image {
    width: 53.7rem;
    height: 34.6rem;
}

.bonfire .bonfire-container .bonfire-right .bonfire-line-2 .bonfire-image img {
    width: 100%;
}

.bonfire .bonfire-container .bonfire-right .bonfire-line-2 .top-bonfire {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.bonfire .bonfire-container .bonfire-right .bonfire-line-2 .top-bonfire h2 {
    color: #FFF;
    font-family: Lab Grotesque;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.bonfire .bonfire-container .bonfire-right .bonfire-line-2 .top-bonfire p {
    color: #FFF;
    font-family: Lab Grotesque;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.bonfire .bonfire-bottom .bonfire-bottom-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}

.bonfire .bonfire-bottom .bonfire-bottom-center h2 {
    color: var(--text-color-white);
    text-align: center;
    font-family: Lab Grotesque;
    font-size: 3rem;
    font-style: normal;
    font-weight: 300;
    line-height: 44px;
}

.bonfire .bonfire-bottom .bonfire-bottom-center .bonfire-btn {
    width: 28.4rem;
    height: 6rem;
    border-radius: 0.5rem;
    background: #ECCF94;
    border: none;
    cursor: pointer;
    transition: all 0.24s ease-in;
}

.bonfire .bonfire-bottom .bonfire-bottom-center .bonfire-btn:hover {
    background: #e4b555;
}

.bonfire .bonfire-bottom .bonfire-bottom-center .bonfire-btn a {
    color: #121212;
    text-align: center;
    font-family: Lab Grotesque;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}